.header__main {

    display: flex;
    align-items: center;
    height: 690px;
    transform: translateX(-14%);
}

.header__main-name {
    align-items: left;
    transform: translate(100%, -50%);


}

.header__main-name_sub {

    color: #f900c7;

}

.header__main-name h1 {

    color: #25449f;

}



.header__main-globe {
    transform: translate(0%, -5%)
}

.header__main-links {
    flex: 1;
    display: flex;
    justify-content: left;

}

.header__main-links_linkedin {
    padding-right: 1rem;

}

.header__main-links_instagram {
    padding-right: 1rem;

}

.header__main-links_github {
    padding-right: 1rem;

}

.header__main-links Link {

    cursor: pointer;

}
