.header__main {
  display: flex;
  align-items: center;
  height: 800px;
  transform: translateX(-14%);
}

.header__main-name {
  align-items: left;
  transform: translate(100%, -50%);
}

.header__main-name_sub {
  color: rgba(255, 105, 180, 0.8);
}

.header__main-name h1 {
  color: #25449f;
}

.header__main-links {
  flex: 1;
  display: flex;
  justify-content: left;
  text-decoration: none;
  box-sizing: content-box;
}

.header__main-links_linkedin {
  padding-right: 1rem;
}

.header__main-links_instagram {
  padding-right: 1rem;
}

.header__main-links_github {
  padding-right: 1rem;
}
.header__main-links_github:hover,
.header__main-links_instagram:hover,
.header__main-links_linkedin:hover {
  color: rgba(255, 105, 180, 0.8);
}

.header__main-links Link {
  cursor: pointer;
}
