.navbar__main {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 2rem 6rem;
}

.navbar__main-links {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.navbar__main-links_logo {
	margin-right: 2rem;
}

.navbar_main-links_logo{
	width: 70px;
	height: 20px;
}

.navbar__main-links_container {
	display: flex;
	flex-direction: row;
}

.navbar__main-sign {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	z-index: 100;
}

.navbar__main-links_container a {
	/* font-family: var(--font-family); */
	/* font-weight: 500; */
	/* font-size: 18px; */
	/* line-height: 25px; */

	text-decoration: none;

	margin: 0 1rem;
	cursor: pointer;
}

.navbar__main-sign button {
	padding: 0.5rem 0.75rem;
	font-family: var(--font-family);
	font-weight: 500;
}

.navbar__main-menu {
	margin-left: 1rem;

	display: none;
	position: relative;
}
.resume_button:hover {
	color: rgba(255, 105, 180, 0.8);
}

#pie_icon{
	height:81px;

	padding-left: 3rem;
}