.gradient__text {
    background: var(--gradient-text);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.about {
    animation: fadeIn 2s;
}
.projects {
    animation: fadeIn 2s;
}
.tempAbout {
    height: 500px;
}
.tempProjects {
    height: 570px;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    0% {
        transform: translateY(150px);
    }

    100% {
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
    }
}
